# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependências
node_modules/

# Builds do Vite/React
dist/
dist-ssr/
build/

# Arquivos de ambiente
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Supabase / Vercel — segredos
.vercel

# Arquivos de Sistema e Editores
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
